@import '~antd/dist/antd.css';

html {
    overflow: auto;
}
#root,
body,
html {
    height: 100%;
    width: 100%;
}
#app {
    position: relative;
    background: #fff;
    min-height: 100vh;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.app-header__logo img {
    width: 100px;
    flex-grow: 1;
    margin-right: 50px;
}

.app-header__search-input {
    min-width: 320px;
}
.app__affix-header {
    z-index: 99;
}

.menu {
    width: 100%;
    padding: 0 20px;
    line-height: 63px;
    border: 0;
}

.app-header__menu-section {
}

.page-skeleton__paragraph {
    padding-bottom: 40px;
}
