@import '~antd/dist/antd.css';

html {
    overflow: auto;
}
#root,
body,
html {
    height: 100%;
    width: 100%;
}
#app {
    position: relative;
    background: #fff;
    min-height: 100vh;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.app-header__logo img {
    width: 100px;
    flex-grow: 1;
    margin-right: 50px;
}

.app-header__search-input {
    margin-top: 17px;
    width: 320px;
}
.app__affix-header {
    z-index: 99;
}

.menu {
    width: 100%;
    padding: 0 20px;
    line-height: 63px;
    border: 0;
}

.page-skeleton__paragraph {
    padding-bottom: 40px;
}

.home-detected-city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.listing-weather {
    padding: 20px;
}

.listing-day-weather-desc {
    display: flex;
    flex-direction: column;
}

.app-header__search-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-items {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.error-banner {
    position: fixed;
    width: 50%;
    top: 64px;
    right: 0;
    z-index: 99;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-found__description-title.ant-typography {
    display: block;
    padding-bottom: 10px;
    color: #1d226c;
    font-size: 22px;
    font-weight: 700;
}
.not-found__description-subtitle.ant-typography {
    color: #1d226c;
    font-size: 16px;
}
.not-found__cta {
    margin-top: 20px;
}
@media (max-width: 720px) {
    .app-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
    }

    .listing-weather {
        position: relative;
        top: 200px;
    }
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-card {
    width: 450px;
    text-align: center;
    padding: 10px 0 20px;
}
.log-in-card__intro-title.ant-typography,
.log-in-card__intro-title.ant-typography + h3.ant-typography {
    margin-top: 5px;
}
.log-in-card__google-button {
    margin: 40px auto;
    border-radius: 2px;
    background-color: #4285f4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    border: none;
    display: flex;
    align-items: center;
    padding: 1px;
    color: #fff;
    cursor: pointer;
}
.log-in-card__google-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.log-in-card__google-button:active {
    background: #3367d6;
}
.log-in-card__google-button-logo {
    height: 43px;
}
.log-in-card__google-button-text {
    text-align: left;
    white-space: nowrap;
    padding: 10px;
}
