@import '~antd/dist/antd.css';

html {
    overflow: auto;
}
#root,
body,
html {
    height: 100%;
    width: 100%;
}
#app {
    position: relative;
    background: #fff;
    min-height: 100vh;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.app-header__logo img {
    width: 100px;
    flex-grow: 1;
    margin-right: 50px;
}

.app-header__search-input {
    min-width: 320px;
}
.app__affix-header {
    z-index: 99;
}

.menu {
    width: 100%;
    padding: 0 20px;
    line-height: 63px;
    border: 0;
}

.app-header__menu-section {
}

.page-skeleton__paragraph {
    padding-bottom: 40px;
}

.home-detected-city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.card-container p {
    margin: 0;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
}
[data-theme='compact'] .card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}

[data-theme='compact'] .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane,
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}

[data-theme='compact'] .card-container > .ant-tabs-card > .ant-tabs-bar,
.card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
}

[data-theme='compact'] .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

[data-theme='compact'] .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}